#index-room-swiper {
  
  .swiper-pagination {
    display: flex; 
    position: absolute;
    justify-content: center; 
    width: 100%; 
    top: 360px;
    height: 0.25rem;   

    @media (min-width: 640px) { 
      top: 660px;
    }
    @media (min-width: 1024px) { 
      bottom: 9rem; 
    top: auto; 
    }
    @media (min-width: 1280px) { 
      width: 900px;
    }
  }

  .swiper-pagination-bullet {
    transition-duration: 300ms; 
    border-radius: 9999px ; 
    width: 32px; 
    height: 0.25rem;   
    background-color: rgb(241 234 228);
    opacity: 1;
  }
  
.swiper-pagination-bullet-active {
    width: 60px;
    background-color: rgb(191 157 125) !important;  
  }
}
